<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>250595701932-7p5fjtpenos9hegrufo2nmvaeu6umd9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250595701932-7p5fjtpenos9hegrufo2nmvaeu6umd9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAJMhCDXIc7Vu0HvO-qF8ZtBjd0XeUn7W0</string>
	<key>GCM_SENDER_ID</key>
	<string>250595701932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Naumenko.MessangerApp</string>
	<key>PROJECT_ID</key>
	<string>messagerapp-804bf</string>
	<key>STORAGE_BUCKET</key>
	<string>messagerapp-804bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250595701932:ios:7052fab2cee671c5</string>
	<key>DATABASE_URL</key>
	<string>https://messagerapp-804bf.firebaseio.com</string>
</dict>
</plist>